/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: white;
}
.center-text {
  vertical-align: middle;
}
body {
  background: url("assets/background-img.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-grey {
  background: #484848;
}
code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.scroll .hero {
  transform: scale(0.98);
}
