.currentWeather {
  text-align: center;
  height: auto;
  margin-top: 10rem;
  background-image: -webkit-linear-gradient(45deg, #424242, #141414);
  border-radius: 10px;
  color: #EEE;
  opacity: 0.75;
  box-shadow: 0px 0px 100px 1px #EEE
}
