
<div class="row">
  <div class="col-md-6 col-sm-4">
    <h1 class="flex-grow-1">New York</h1>
  </div>
  <div class="col-md-6 col-sm-8">
    <h1>{{name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <img src="{{icon}}" width="100">
  </div>
  <div class="col-sm-6">

    <h1 class="mb-0 font-weight-bold"> {{ temperature }}<sup>&#176; {{unit}}</sup> </h1>
    <h3>{{shortforecast}}</h3>
    <span class="my-1"> <i class="fa fa-leaf"></i>{{windspeed}} {{winddirection}}  </span>
  </div>
</div>
